# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*

# Local env files
.env
.env*.local
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts